<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWc0CV3DnaIjo44Ya4_HeIwZn_5ddSaLM</string>
	<key>GCM_SENDER_ID</key>
	<string>791974031427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huong.brainrush</string>
	<key>PROJECT_ID</key>
	<string>brain-rush-191f7</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-rush-191f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791974031427:ios:c0ecde6681e4fb3aa1a4f6</string>
</dict>
</plist>